<div class="row">
  <div class="col-sm-4">
    <div *ngFor="let rental of rentals">
      <div [ngClass]="{'isSelected' : rental.isSelected}" 
        class="card rentalElement" 
        (click)="selectRental(rental)">
        <div>
          <strong>{{ rental.name }}</strong>
        </div>
        <div>
          <p>{{ rental.county }}, {{ rental.city }}
          <span style="float: right;"><strong>{{ rental.price }} RON</strong></span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8 card" *ngIf="currentRental!=null">
    <app-rental-card [rental]="currentRental"></app-rental-card>
  </div>
</div>